* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #eee5d7;

}

#aplication {
  width: 1317px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee5d7;
}

#instruction {
  width: 1000px;
  height: 150px;
  background-color: #eee5d7;
  border: #584434 solid 8px;
  color: #584434;
  position: absolute;
  top: 200px;
  z-index: 4;
  font-size: 50px;
  text-align: center;
}

#x {
  width: 50px;
  height: 50px;
  color: #eee5d7;
  background-color: #c93131;
  font-size: 50px;
  text-align: center;
  top: -8px;
  right: -8px;
  position: absolute;
}

#exercise-container {
  height: 896px;
  width: 1150px;
  display: flex;
  flex-direction: column;
  background-color: #eee5d7;
}

#columns-container {
  height: 532px;
  display: flex;
  justify-content: flex-end;
}

#input-container {
  display: flex;
  position: relative;
  justify-content: center;
}

#exercise {
  height: 796px;
  border: #584434 solid 7px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#side-bar {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: #eee5d7;
  display: flex;
}

#right-arrow {
  position: absolute;
  top: 400px;
  right: -55px;
}

#left-arrow {
  position: absolute;
  left: -60px;
  top: 400px;
  transform:
    rotate(180deg)
}

#thousands {
  flex: 1;
  width: 425px;
}

#hundreds {
  width: 230px;
}

#tens {
  width: 230px;
}

#ones {
  width: 230px;
}

.block {
  flex: 1;
  position: relative;
  height: 516px;
}

#thousands-block {
  background-image: url('assets/tlo1000.svg');
}

#hundreds-block {
  background-image: url('assets/tlo100.svg');
}

#tens-block {
  background-image: url('assets/tlo10.svg');
}

#ones-block {
  background-image: url('assets/tlo1.svg');
  width: 212px;
}

.input {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #584434 solid 8px;
}

.column {
  display: flex;
  flex-direction: column;
  border: #584434 solid 8px;
  height: 532.458px;
}

.input-box {
  width: 100px;
  height: 160px;
  font-size: 110px;
  font-family: Fira Sans;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: rgba(255,255,255, 1);
  opacity: 0.6;
}

.input-box:focus {
  opacity: 1;
}

.building-block {
  height: 150px;
  border: #584434 solid 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thousands-input {
  width: 447px;
  background-color: #6bab46;
}

#hundreds-input {
  width: 230px;
  background-color: #af3f3d;
}

#tens-input {
  width: 230px;
  background-color: #3c789c;
}

#ones-input {
  width: 230px;
  background-color: #6bab46;
}

#check {
  height: 70px;
  width: 290px;
  font-size: 30px;
  color: #eee5d7;
  background-color: #584434;
}

#make-number {
  border: blue solid 1px;
  display: flex;
  flex-direction: row;
}

.make-number {
  height: 90px;
  font-size: 80px;
  border: blue solid 1px;
}

.thousand-image {
  height: 163px;
  width: 134px;
  position: absolute;
}

.hundred-image {
  height: 91px;
  width: 153px;
  position: absolute;
}

.ten-image {
  height: 56px;
  width: 85px;
  position: absolute;
}

.one-image {
  height: 25px;
  width: 20px;
  position: absolute;
}

.montessori-green {
  color: #6bab46;
}

.montessori-red {
  color: #af3f3d;
}

.montessori-blue {
  color: #3c789c;
}

#whole-number-input {
  width: 300px;
  height: 90px;
  font-size: 80px;
  align-self: flex-end;
}

#feedback {
  font-size: 30px;
  height: 67px;
  width: 286px;
  color: #584434;
  background-color: #d0c5b6;
  text-align: center;
  vertical-align: middle;
  line-height: 67px;
}

#smile {
  width: 70px;
  height: 70px;
  border: solid #584434 5px;
  border-radius: 70px;
  background-color: #f7d237;
  bottom: -5px;
  position: absolute;
  padding: 10px;
}
