* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 20px 0 0 0;
  background-color: #eee5d7;
  height: 100%
}

@media all and (orientation:portrait) {
  body: {
    width: 2000px;
  }
}
@media all and (orientation:landscape) {
  body: {
    width: auto;
  }
}


#aplication {
  width: 1452px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee5d7;
}

#instruction {
  width: 1000px;
  background-color: #eee5d7;
  border: #584434 solid 8px;
  color: #584434;
  position: absolute;
  top: 200px;
  left: 70px;
  z-index: 4;
  font-size: 50px;
  text-align: center;
}

#x {
  width: 50px;
  height: 50px;
  top: -8px;
  right: -8px;
  position: absolute;
  border: #584434 solid 8px;
  z-index: 6;
}

#exercise-container {
  height: 796px;
  width: 1452px;
  display: flex;
  flex-direction: row;
  background-color: #eee5d7;
}

#exercise {
  height: 796px;
  width: 1150px;
  border: #584434 solid 7px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#side-bar {
  width: 300px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #eee5d7;
  display: flex;
  flex-direction: column;
}

#columns-container {
  height: 532px;
  display: flex;
  justify-content: flex-end;
}

#input-container {
  display: flex;
  position: relative;
  justify-content: center;
}

#right-arrow {
  position: absolute;
  bottom: 100px;
  right: -55px;
}

#left-arrow {
  position: absolute;
  left: -60px;
  top: 400px;
  transform:
    rotate(180deg)
}

#calculator-container {
  height: 546px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.row {
  height: 120px
  width: 100%;
  display: flex;
}

.digit {
  height: 100px;
  width: 90px;
  border: solid #eee5d7 1px;
  font-size: 90px;
  font-family: Fira Sans;
  font-weight: bold;
  text-align: center;
  color: #eee5d7;
  background-color: #584434;
}

#delete {
  height: 100px;
  width: 180px;
  border: solid #eee5d7 1px;
  background-color: #584434;
  display: flex;
  justify-content: center;
  align-items: center;
}

#check-container {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#check {
  height: 70px;
  width: 270px;
  font-size: 30px;
  color: #eee5d7;
  background-color: #584434;
}

.column {
  display: flex;
  flex-direction: column;
  height: 532.458px;
}

#thousands {
  flex: 1;
  width: 425px;
}

#hundreds {
  width: 230px;
}

#tens {
  width: 230px;
}

#ones {
  width: 230px;
}

.block {
  flex: 1;
  position: relative;
  height: 516px;
  border: #584434 solid 8px;
}

#thousands-block {
  background-image: url('assets/tlo1000.svg');
}

#hundreds-block {
  background-image: url('assets/tlo100.svg');
}

#tens-block {
  background-image: url('assets/tlo10.svg');
}

#ones-block {
  background-image: url('assets/tlo1.svg');
}

#building-blocks-container {
  display: flex;
}

.building-block {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thousand-building-block {
  width: 441px;
}

#hundred-building-block {
  width: 246px;
}

#ten-building-block {
  width: 246px;
}

#one-building-block {
  width: 246px;
}

.input {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #584434 solid 8px;
}

.input-box {
  width: 100px;
  height: 160px;
  font-size: 110px;
  font-family: Fira Sans;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: rgba(255,255,255, 1);
  opacity: 0.6;
}

#whole-number-input {
  width: 300px;
  height: 160px;
  font-size: 110px;
  align-self: center;
  font-family: Fira Sans;
  font-weight: bold;
  text-align: center;
  color: #584434;
  border: none;
  background-color: rgba(255,255,255, 1);
}


.input-box:focus {
  opacity: 1;
}

.current-input{
  opacity: 1;
}

#thousands-input {
  width: 447px;
  background-color: #6bab46;
}

#hundreds-input {
  width: 230px;
  background-color: #af3f3d;
}

#tens-input {
  width: 230px;
  background-color: #3c789c;
}

#ones-input {
  width: 230px;
  background-color: #6bab46;
}

#make-number {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 200px;
}

.make-number {
  height: 160px;
  width: 60px;
  font-size: 110px;
  font-family: Fira Sans;
  font-weight: 600;
  text-align: center;
}

#make-number-thousands {
  color: #6bab46;
}

#make-number-hundreds {
  color: #af3f3d;
}

#make-number-tens {
  color: #3c789c;
}

#make-number-ones {
  color: #6bab46;
}

.thousand-image {
  height: 163px;
  width: 134px;
  position: absolute;
}

.hundred-image {
  height: 91px;
  width: 153px;
  position: absolute;
}

.ten-image {
  height: 56px;
  width: 85px;
  position: absolute;
}

.one-image {
  height: 25px;
  width: 20px;
  position: absolute;
}

.montessori-green {
  color: #6bab46;
}

.montessori-red {
  color: #af3f3d;
}

.montessori-blue {
  color: #3c789c;
}

#feedback {
  font-size: 30px;
  height: 67px;
  width: 286px;
  color: #584434;
  background-color: #d0c5b6;
  text-align: center;
  vertical-align: middle;
  line-height: 67px;
}

.smile {
  background-color: #f7d237;
}

#smileLevel3 {
  position: absolute;
  top: 350px;
}

#sadLevel3 {
  position: absolute;
  top: 350px;
}

.big-dot {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border: solid #584434 5px;
  bottom: -5px;
  position: absolute;
  padding: 10px;
  align-self: center;
}

.correct-dot {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #efc344;
  bottom: 20px;
  position: absolute;
  padding: 7px;
}

.wrong-dot {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #a89a79;
  bottom: 20px;
  position: absolute;
  padding: 7px;
}

.avoid-clicks {
  pointer-events: none
}



